* {
    font-family: Helvetica;
    font-weight: bold;
}

p {
    font-weight: normal;
}

h1 {
    font-size: 100px;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    color:white;
}

#Banner {
    background-image: url('pattern.jpeg');
}

#Brushh2 {
    background-color: mediumspringgreen;
}

#Framesh2 {
    background-color: lightcoral;
}

#Painth2 {
    background-color: skyblue;
}

#price {
    color: blue;
}